html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

canvas {
  /* This makes the canvas scale to the window */
  width: 100vw !important;
  height: 100vh !important;
  
  /* preserve aspect ratio (adds black bars if needed) */
  object-fit: contain; 
  
  /* keeps the "pixel" look sharp when zooming in */
  image-rendering: pixelated; 
  image-rendering: crisp-edges;
}